/* CSS for the container of the "Download CV" button */
.downloadCvContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

/* Style for the "Download CV" button */
.downloadCvButton {
  padding: 10px 20px;
  font-size: 4vh;
  color: #4bcd91;

  cursor: pointer;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.downloadCvButton:hover {
  color: #f5882e;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.downloadIcon {
  font-size: 5vh;
  transform: translate(0, 15%);
}

@media (max-width: 900px) {
  .downloadCvContainer {
    position: fixed;
    bottom: 10px;
    top: auto;
    left: 10px;
  }
  .downloadCvButton {
    font-size: 2vh;
    color: #E55604;

    width: fit-content;
    border-radius: 30px;
    padding: 5px;
    
    background-color: rgba(142, 137, 137, 0.119);

    font-weight: bold; /* Make the font thicker */
  }

  .downloadIcon {
    font-size: 2.5vh;
  }
}
