body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: absolute;
    bottom: 10%;
    left: 5%;
   
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    margin: 0;
    

  }
  
  .content {
    padding: 5px;
    margin: 0;
    font-size: 4vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  }

  .nameColor{
    color:#E25E3E;
  }
  .aposColor{
    color:#363062;
  }


  h1 {
    font-size: 3rem; 
    font-weight: bold; 
    margin: 10px 0; 
  }
  
  @media (max-width: 900px) {
    .container {
      width: 90%;
      left: 5%;
      bottom: 50%;
      left: 10%;
      position: fixed;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100%;
      left: 0;
    }
    .content {
      font-size: 3vh; 
    }
  }